@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}

<section class="py-5" id="features">
  <div class="container px-5 mb-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-12 mb-5 text-center">
        <h2 class="fw-bolder mb-0">A better way to start building.</h2>
                <p id="h">There are amazing and fun courses to take part in here in flowerschool.</p>
      </div>

      <div id="rows" class="col-12">
        <div class="row gx-5 row-cols-1 row-cols-md-3">

          <div class="col mb-4 h-100">
            <div class="white-card d-flex align-items-center justify-content-start bg-white p-2 shadow-sm h-100">
              <div class="feature flex-shrink-0 me-3 d-flex align-items-center justify-content-center bg-light text-muted" style="width:40px;height:40px;">
                <i class="bi bi-building"></i>
              </div>
              <div class="text-start">
                <h2 class="h6 mb-1">Featured title</h2>
                <p class="mb-0 small">4</p>
              </div>
            </div>
          </div>

          <div class="col mb-4 h-100">
            <div class="white-card d-flex align-items-center justify-content-start bg-white p-2 shadow-sm h-100">
              <div class="feature flex-shrink-0 me-3 d-flex align-items-center justify-content-center bg-light text-muted" style="width:40px;height:40px;">
                <i class="bi bi-toggles2"></i>
              </div>
              <div class="text-start">
                <h2 class="h6 mb-1">Featured title</h2>
                <p class="mb-0 small">4</p>
              </div>
            </div>
          </div>

          <div class="col h-100">
            <div class="white-card d-flex align-items-center justify-content-start bg-white p-2 shadow-sm h-100">
              <div class="feature flex-shrink-0 me-3 d-flex align-items-center justify-content-center bg-light text-muted" style="width:40px;height:40px;">
                <i class="bi bi-toggles2"></i>
              </div>
              <div class="text-start">
                <h2 class="h6 mb-1">Featured title</h2>
                <p class="mb-0 small">4</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial section-->
<section class="py-5">
    
        <!-- Call to action-->
       
</section>
<!-- Footer-->
