@page
@model Lärplattform.Pages.Teacher.CreateLessonModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
<div id="content" style="background-color:#3F6E2F">

    <div id="Img-Dashboard" class="rounded shadow-sm mb-4 d-flex align-items-center">
        <div class="pl-5">
            <h1 class="text-dark font-weight-bold">Welcome Teacher! </h1>
           
        </div>
    </div>



    <div class="container mt-5">
        <div class=" row justify-content-center ">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Create New Lesson</h3>
                    </div>
                    <div class="card-body">
       
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="NewLesson.Title" class="form-label">Title</label>
                                <input asp-for="NewLesson.Title" class="form-control" placeholder="e.g. Introduction to Algebra" />
                                <span asp-validation-for="NewLesson.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="NewLesson.Description" class="form-label">Description</label>
                                <input asp-for="NewLesson.Description" class="form-control" placeholder="e.g. This lesson covers the basics of algebra." />
                                <span asp-validation-for="NewLesson.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="NewLesson.Content" class="form-label">Content</label>
                                <input asp-for="NewLesson.Content" class="form-control" placeholder="e.g. This lesson covers the basics of algebra." />
                                <span asp-validation-for="NewLesson.Content" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                   
                                <input type="hidden" asp-for="NewLesson.CourseID" class="form-control" />
                                <span asp-validation-for="NewLesson.CourseID" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success">Create Lesson</button>
                                <a asp-page="/Teacher/Lesson" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>