@page
@model Lärplattform.Pages.Teacher.EditSubmissionModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
<div id="content" style="background-color:#3F6E2F">

<div id="Img-Dashboard" class="rounded shadow-sm mb-4 d-flex align-items-center">
    <div class="pl-5">
        <h1 class="text-dark font-weight-bold">Welcome Teacher! </h1>
           
    </div>
</div>

<div class="container mt-5">
    <div class=" row justify-content-center ">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Edit Submission</h3>
                </div>
                <div class="card-body">
       
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                                
                        <div class="form-group mb-3">
                            <label asp-for="UpdateSubmission.Content" class="form-label">Content</label>
                            <input  asp-for="UpdateSubmission.Content" class="form-control" readonly  />
                            <span asp-validation-for="UpdateSubmission.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UpdateSubmission.Feedback" class="form-label">Feedback</label>
                            <input asp-for="UpdateSubmission.Feedback" class="form-control"  />
                            <span asp-validation-for="UpdateSubmission.Feedback" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label asp-for="UpdateSubmission.Grade" class="form-label">Grade</label>
                            <select asp-for="UpdateSubmission.Grade" class="form-control" asp-items="Model.Grade">
                                <option value="">-- Select Grade --</option>
                                  
                            </select>
                            <span asp-validation-for="UpdateSubmission.Grade" class="text-danger"></span>
                        </div>

                            

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Update Submission</button>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
