@page
@model Lärplattform.Pages.Teacher.EditFinalGradeModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
<div id="content" style="background-color:#3F6E2F">

    <div id="Img-Dashboard" class="rounded shadow-sm mb-4 d-flex align-items-center">
        <div class="pl-5">
            <h1 class="text-dark font-weight-bold">Welcome Teacher! </h1>
           
        </div>
    </div>

    <div class="container mt-5">
        <div class=" row justify-content-center ">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Edit FinalGrade</h3>
                    </div>
                    <div class="card-body">
       
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                       
                            <div class="form-group mb-3">
                                <label asp-for="FinalGradeUpdate.StudentName" class="form-label">StudentName</label>
                                <input asp-for="FinalGradeUpdate.StudentName" class="form-control" readonly />
                                <span asp-validation-for="FinalGradeUpdate.StudentName" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="FinalGradeUpdate.CourseName" class="form-label">CourseName</label>
                                <input asp-for="FinalGradeUpdate.CourseName" class="form-control" readonly />
                                <span asp-validation-for="FinalGradeUpdate.CourseName" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group mb-3">
                                <label asp-for="FinalGradeUpdate.TotalAssigmentTurnedIn" class="form-label">TotalAssigmentsTurnedIn</label>
                                <input asp-for="FinalGradeUpdate.TotalAssigmentTurnedIn" class="form-control" readonly />
                                <span asp-validation-for="FinalGradeUpdate.TotalAssigmentTurnedIn" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="FinalGradeUpdate.FinalGrade" class="form-label">FinalGrade</label>
                                <select asp-for="FinalGradeUpdate.FinalGrade" class="form-control" asp-items="Model.Grade">
                                    <option value="">-- Select Grade --</option>
                                  
                                </select>
                                <span asp-validation-for="FinalGradeUpdate.FinalGrade" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                   
                                <input type="hidden" asp-for="FinalGradeUpdate.StuedntId" class="form-control" />
                                <span asp-validation-for="FinalGradeUpdate.StuedntId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                   
                                <input type="hidden" asp-for="FinalGradeUpdate.CourseId" class="form-control" />
                                <span asp-validation-for="FinalGradeUpdate.CourseId" class="text-danger"></span>
                            </div>

                            

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success">Update FinalGrade</button>
                           
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
