@page
@model Lärplattform.Pages.Teacher.TeacherModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
<div id="content" style="background-color:#3F6E2F">

       <div  id="Img-Dashboard" class="rounded shadow-sm mb-4 d-flex align-items-center"
         >
    
        <div class="pl-5">
            <h1 class="text-dark font-weight-bold">Välkommen Lärare!</h1>
           
        </div>

 </div>

 </div> 