@page
@model Lärplattform.Pages.Teacher.TeacherModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
   <div id="content">

                <!-- Topbar -->
              
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
            
                <!-- /.container-fluid -->

 </div>