@page
@model Lärplattform.Pages.Teacher.TeacherModel
@{
    Layout = "~/Pages/Shared/Dashboard.cshtml";
}
   <div id="content">

    <h1 class="h3 mb-4 text-gray-800">Teacher Dashboard</h1>
                <!-- Topbar -->
              
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
            
                <!-- /.container-fluid -->

 </div>