@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Pages/Shared/Login.cshtml";
}
<a asp-page="/Account/Register" class="back position-absolute start-0 top-0 ps-5 pb-3 text-decoration-none ">Back</a>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
