@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Pages/Shared/Login.cshtml";
}

<form id="account" method="post">

      
 

    <h1 class=" mb-4  fw-bold">Forgot Password </h1>


   
    
    <div class=" mb-3">
        <label asp-for="Input.Email" class="form-label fw-bold"></label>
        <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
</form>
